/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of CSS customization */

h1 {
font: 300% arial;
font-weight: 600;
color: purple;
}

p {
  font: 100% arial;
  font-weight: 700;
}

.first p {
  color: royalblue;
  line-height: 2;
  margin-bottom: 37%;
}

.second p {
  color: yellow;
  line-height: 2;
  margin-top: 51%;
}

.third p, ul li {
  line-height: normal;
  color: DeepSkyBlue;
  margin: 7%;
}
footer p {
  color: white;
}

body {
  padding: 1%;
}

header {
  border: medium solid black;
  padding: 2%;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first {
  border: medium solid black;
  background-color: yellow;
  width: 25%;
  padding: 2%;
  margin: 2% 0;
  float: left;
}

.first img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.second {
  border: thin solid black;
  background-color: #A349A3;
  width: 25%;
  padding: 2%;
  margin: 2% 5.94%;
  float: left;
}

.second img {
  width: 100%;
  height: 300%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.third {
  border: medium solid black;
  background-color: #424242;
  width: 25%;
  padding: 2% 2% 7.5%;
  margin: 2% 0;
  float: left;
}

ul {
  margin: 7%;
}

li {
  position: relative;
}

li:before {
  content: "*";
  position: absolute;
  left: -7%;
}

footer {
  border: medium solid black;
  background-color: black;
  padding: 2%;
  text-align: right;
  margin: auto;
  clear: both;
}
