/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of CSS customization */
/* Styling for wide screens */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Header */
header {
  background-image:
  linear-gradient(#9e9e9e57 10%, white 50%, white);
  padding: 2% 0;
}

header img {
  clear: both;
}
.logo-img {
  margin: 0 33.33%;
}
.slogan-img {
  margin: 0 12.5%;
}

/* Menu bar */
nav {
  background-color: #F5F5F5;
  border: 1px solid #e6e6e6;
}

.menu {
  margin: 0 8.35%;
}

.menu-link {
  padding: 2% 9%;
}

nav a, nav p {
  font-family: roboto;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 400;
  color: gray;
  text-decoration: none;
  float: left;
  padding: 2%;
  border-bottom: 2px solid #F5F5F5;
}

#current {
  color: #6ec1e4;
}

nav a:hover{
  border-bottom: 2px solid #6ec1e4;
}

/* Main */
a.text-link {
  float: right;
}

h1 {
  font-family: roboto;
  font-size: 3vw;
  font-weight: 400;
  color: slategray;
  margin-bottom: 5%;
}
h2 {
  font-family: roboto;
  font-size: 2vw;
  font-weight: normal;
  color: slategray;
  margin-bottom: 5%;
}

section p, section a{
  font-family: roboto;
  font-size: 1.5vw;
  font-weight: normal;
  line-height: 1.5;
  margin: 2% 0;
}

.text-link {
  text-transform: capitalize;
  color: #6ec1e4;
  text-decoration: none;
  font-weight: 600;
}

.text-margin {
  padding: 5%;
}

.text-card {
  margin-bottom: 3%;
}

.banner {
  padding: 0 20%;
}

.featured {
  background-image:
  linear-gradient( #f2f2f2 5%, white 25%, white);
  padding: 5%;
}

.info-text {
  padding-right: 5%;
}

.featured-img {
  border: 1px solid #f2f2f2;
}

/* Cards */
.card {
  border: 1px solid #f2f2f2;
  padding: 3% 5%;
  box-shadow: 0 0;
}

.card:hover {
  animation: elevate .1s forwards;
}

@keyframes elevate {
  from  {
    box-shadow: 0 0;
  }
  to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.project-card {
  border-bottom: 1px solid #f2f2f2;
  padding: 3% 0;
  box-shadow: 0 0;
  clear: both;
}

.project-img {
  background-size: cover;
  margin: 3%;
}

.bubble {
  display: block;
  background: #6ec1e4;
  border-radius: 100px;
  padding: 2%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: background-color .1s ease;
}

.bubble:hover {
  background-color: #2492c2;
}

@keyframes ripple {
  from  {
    box-shadow: 0 0;
  }
  to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
/* Form */
label {
  display: none;
}

input[type=text] {
  padding: 2% 2%;
  margin: 0 0 2% 0;
  border-radius: 4px;
  clear: both;
}

textarea {
  padding: 2% 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  clear: both;
}

input[type=submit] {
  padding: 2% 5%;
  margin: 2% 0;
  border-radius: 100px;
  clear: both;
}
/* Footer */
footer p {
  font-family: roboto;
  font-size: 2vw;
  font-weight: 500;
  color: slategray;
  background-color: #F5F5F5;
  text-align: center;
  padding: 2%;
}

/*  */
/* Styling for mobile screens */
@media screen and (max-width: 500px) {
  body {
  }
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}

  /* Fonts styling */
  section p, section a{
    font-size: 3vw;
  }

  h1 {
    font-size: 4vw;
    font-weight: bold;
    color: slategray;
    text-align: center;
    margin: 5% 0;
  }

  h2 {
    font-family: roboto;
    font-size: 4vw;
    font-weight: normal;
    color: slategray;
  }

  /* Menu */
  .menu {
    margin: 0;
    text-align: center;
  }
  .menu-link {
    border-bottom: 1px solid #e6e6e6;
  }

  nav p {
    visibility: hidden;
  }

  /* Cards section */
  .bubble {
    float: right;
  }

  /* Images */
  .featured-img {
    margin: 5% auto;
    padding: 5%;
    border: none;
    clear: both;
  }

  /* Projects section */
  .project-img {
    margin: 3% 25%;
  }
  /* Formulario contacto */

  input[type=text], input[type=submit], .sm-form {
    margin: 2% 15%;
  }
}
